.carousel {
  background-color: #ced8d1;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
  border-image: green;
}
.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

.menu-banner {
  max-width: 90%;
  max-width: 98%;
}

.center {
  margin: 0 auto;
}



.flip-card {
  background-color: transparent;
  height: 300px;
  
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}


input {
  width: 100px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #549760;
  color: white;
  transform: rotateY(180deg);
}

